@{
    ViewBag.Title = "Change Password";

    if (!Model.RequirePasswordChange)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="changePassword">
    <h2>
        Change Password
    </h2>
    <br />
    <p>
        Use the form below to change your password. New passwords are required to be a minimum
        of 6 characters in length.
    </p>
    <div class="error">
        @ViewBag.Message
    </div>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        <label>
            Email Address
        </label>
        @Html.Encode(Model.Email as object) @Html.Hidden("Email", @Model.Email as object)
        <br />
        <br />
        <label>
            Current Password
        </label>
        @Html.Password("Password")
        <label>
            New Password
        </label>
        @Html.Password("NewPassword")
        <label>
            Confirm New Password
        </label>
        @Html.Password("ConfirmNewPassword")
        <div class="shellCenterAlign">
            <input type="submit" value="Change Password" class="btn" />
        </div>
    }
</div>
